<div class="container">
<div class="jumbotron">
	URL Shortener
</div>
	<div class="input-group">
		  	
		  		  <input type="text" class="form-control" ="url">
		  	 
	    	
	    		<div class="input-group-addon btn btn-primary">short</div>
	    	
	</div>
</div>
<br>
<div class="container">
	<div class="jumbotron" id="sol">
		solution here
	</div>
</div>
<script type="text/javascript">
	
    $('.btn').click(function(){
    	if($('input').val()==='')
    	alert("eeee");
    	else
    	$.getJSON('http://localhost:3000/short/create?text='+$('input').val(),function(result){    	
    	$('#sol').text(result['text']);
    	});
    	
    });


</script>