<div class="container">
<div class="jumbotron">
	URL Shortener
</div>
	<div class="input-group">
		    <textarea class="form-control custom-control" rows="1" style="resize:none"></textarea>   
	    	<span class="input-group-addon btn btn-primary">short</span>
	</div>
</div>
<script type="text/javascript">

    $('.btn').onclick = function () {
        location.href = "/welcome/index";
    };


</script>